@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #fafaf9;
  /* stone-50 */
  color: #1c1917;
  /* stone-900 */
  /* Force dark navy (slate-900) */
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1917;
  /* stone-900 */
}

p,
span,
div {
  color: inherit;
}